version: 1
update_configs:  
  - package_manager: "javascript"
    directory: "/"
    update_schedule: "live"
    automerged_updates:
      - match:
          dependency_name: "*marfeel-core*"
          update_type: "in_range"
    version_requirement_updates: "off"
    commit_message:
      prefix: "MRF-framework"